.post {
  font-family: Arial;
  display: flex;
  flex-direction: row;
  column-gap: 13px;
}
.account-name {
  font-weight: 700;
  font-size: 19px;
  margin-top: 0;
  margin-bottom: 0;
}
.plantform-link {
  color: rgb(107, 107, 107);
  font-weight: normal;
}
.name-post {
  line-height: 25px;
}
.user-photo {
  border-radius: 50px;
  width: 60px;
}
.post-description {
  font-size: 19px;
  width: 450px;
}
.link {
  border-width: 1px;
  border-color: rgb(226, 225, 225);
  border-style: solid;
  border-radius: 13px;
  display: flex;
  flex-direction: row;
  width: 410px;
  margin-left: 73px;
  font-family: arial;
  height: 100px;
  margin-top: 15px;
}
.blank-color {
  background-color: rgb(226, 226, 226);
  padding-right: 115px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px ;
}
.youtube-link {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.youtube {
  color: gray;
  font-size: 19px;
}
.yt {
  margin-top: 15px;
  margin-bottom: 5px;
}
.yt-desc {
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;
  line-height: 21px;
  font-size: 19px;
}